<!DOCTYPE html>
<head> 
    <title>GPIO Control</title> 
    <link rel="stylesheet" href='../static/style.css'/> 
 </head>
 <body>
    <h2>Song playing: {{ song }}</h2>
    <div class="row">
        <div class="padding"><a href="/prev"class="button">Prev song</a></div>
        <div class="padding"><a href="/next"class="button">Next song</a></div>
    </div>
    <div class="row">
        <div class="padding"><a href="/play"class="button">{{ play_str }}</a></div>
    </div>
    <div class="row">
        <div class="padding"><a href="/mode"class="button">{{ mode_str }}</a></div>
    </div>
    <div class="row">
        <div class="padding"><a href="/playback"class="button">Play Recording</a></div>
    </div>
 </body>
</html>